[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "projects"]
	path = projects
	url = https://github.com/clevelandclinicqhs/projects
	shallow = true
	registered = true
[submodule "QHScrnomo"]
	path = QHScrnomo
	url = https://github.com/clevelandclinicqhs/qhscrnomo
	shallow = true
	registered = true
